// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: timbo-thin;
  src: url("../../fonts/Averta-Cyrillic-Thin.otf");
}
@font-face {
  font-family: timbo-semi-bold;
  src: url("../../fonts/Averta-Cyrillic-SemiBold.otf");
}
@font-face {
  font-family: timbo-regular;
  src: url("../../fonts/Averta-Cyrillic-Regular.otf");
}
@font-face {
  font-family: timbo-light;
  src: url("../../fonts/Averta-Cyrillic-Light.otf");
}
@font-face {
  font-family: timbo-extra-bold;
  src: url("../../fonts/Averta-Cyrillic-ExtraBold.otf");
}
@font-face {
  font-family: timbo-extra-thin;
  src: url("../../fonts/Averta-Cyrillic-Extra-Thin.otf");
}
@font-face {
  font-family: timbo-bold;
  src: url("../../fonts/Averta-Cyrillic-Bold.otf");
}
@font-face {
  font-family: timbo-black;
  src: url("../../fonts/Averta-Cyrillic-Black.otf");
}
@font-face {
  font-family: recoleta;
  src: url("../../fonts/Recoleta-RegularDEMO.otf");
}
/* LATO FONT */
@font-face {
  font-family: lato;
  src: local("lato"),
    url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: lato-bold;
  src: local("lato"), url("../../fonts/lato/Lato-Bold.ttf") format("truetype");
}
