// ****************** Colors ******************
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #2c60f0;

$color-1: #eeeeee;
$color-2: #eceef5;
$color-3: #8083a3;
$color-4: #1a1c1d;
$color-5: #1c1f2e;
$color-6: #4680ff;
$color-7: #f0f0f3;
$color-8: #e2e2e2;
$color-9: #d1d1d1;
$color-10: #ececf2;
$color-11: #6b59cc;
$color-12: #d80000;
$color-13: #28c345;
$color-14: #f6933e;
$color-15: #1db555;
$color-16: #222526;
$color-17: #4681ff58;
$color-18: #f3f4f9;
$color-19: #8697f8;
$color-20: #ffffff80;
$color-21: #28c344;
$color-22: #999ba81a;
$color-23: #f6f6f6;
$color-24: #f3f5fc;
$color-25: #f8f9fc;
$color-26: #42424d;
$color-27: #eb5757;
$color-28: #0000001a;
$color-29: #8b90a0;
$color-30: #ff808b;
$color-31: #e8e8e8;
$color-32: #e6e6e6;
$color-33: #999999;
$color-34: #6a80f5;
$color-35: #375471;
$color-36: #d9dbe9;
$color-37: #f7fafc;
$color-38: #cccccc;
$color-39: #efefef;
$color-40: #00ba88;
$color-41: #16192c;
$color-42: #eff0f7;
$color-43: #808191;
$color-44: #8492a6;
$color-45: #425466;
$color-46: #a1aab3;
$color-47: #e7ebfd;
$color-48: #323b43;
$color-49: #15202b;
$color-50: #e0245e;
$color-51: #ffffffc6;
$color-52: #010c25;
$color-53: #090e1a;
$color-54: #42424d;
$color-55: #f03415;
$color-56: #3563c7;
$color-57: #505565;
$color-58: #4681ff15;
$color-59: #4681ff4a;
$color-60: #13151f;
$color-61: #A6A6A6;

$color-faq-1: #333333;
// $main-font: "Lato", sans-serif;

$dashboard-side-padding: 3rem;
$side-nav-width: 10.4rem;
$user-details-on-chat-margin: 6rem auto 1.5rem;

$dashboard-layout-standard-padding: 3rem 2rem 6rem;

// ****************** Grids ******************
$row-width: 125rem;
$onboarding-row-width: 100rem;
