// Alignment
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: $color-white !important;
}

// Tezt
.text-bold {
  font-weight: bold;
}

// Display
.d-block {
  display: block;
}

// Margins ******************
.m {
  &-y-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-y-50px {
    margin-top: 5rem;
    margin-bottom: 5rem;

    &--mobile {
      @include responsive(small-phone) {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }
    }
  }

  &-y-40px {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &-y-30px-15px {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  &-y-10px {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-x-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &-l-30px {
    margin-left: 3rem;
  }

  &-l-20px {
    margin-left: 2rem;
  }

  &-l-15px {
    margin-left: 1.5rem;
  }

  &-l-10px {
    margin-left: 1rem;
  }

  &-l-5px {
    margin-left: 0.5rem;
  }

  &-l-auto {
    margin-left: auto;
  }

  &-r-100px {
    margin-right: 10rem;
  }
  &-r-25px {
    margin-right: 2.5rem;
  }

  &-r-20px {
    margin-right: 2rem;
  }

  &-r-15px {
    margin-right: 1.5rem;
  }

  &-r-10px {
    margin-right: 1rem;
  }
  &-r-7px {
    margin-right: 0.7rem;
  }
  &-r-6px {
    margin-right: 0.6rem;
  }

  &-r-5px {
    margin-right: 0.5rem;
  }

  &-r-0 {
    margin-right: 0;
  }

  &-t-auto {
    margin-top: auto;
  }

  &-t-200px {
    margin-top: 20rem;
  }

  &-t-120px {
    margin-top: 12rem;
  }

  &-t-100px {
    margin-top: 10rem;
  }

  &-t-90px {
    margin-top: 9rem;
  }

  &-t-80px {
    margin-top: 8rem;
  }

  &-t-70px {
    margin-top: 7rem;
  }

  &-t-60px {
    margin-top: 6rem;
  }

  &-t-50px {
    margin-top: 5rem;
  }

  &-t-40px {
    margin-top: 4rem;

    &--sm {
      @include responsive(small-phone) {
        margin-top: 1rem;
      }
    }
  }

  &-t-30px {
    margin-top: 3rem;
  }
  &-t-25px {
    margin-top: 2.5rem;
  }

  &-t-20px {
    margin-top: 2rem;
  }

  &-t-10px {
    margin-top: 1rem;
  }

  &-t-8px {
    margin-top: 0.8rem;
  }

  &-t-6px {
    margin-top: 0.5rem;
  }

  &-t-5px {
    margin-top: 0.5rem;
  }

  &-t-4px {
    margin-top: 0.4rem;
  }

  &-b-100px {
    margin-bottom: 10rem;
  }

  &-b-70px {
    margin-bottom: 7rem;
  }

  &-b-60px {
    margin-bottom: 6rem !important;

    &--sm {
      @include responsive(small-phone) {
        margin-bottom: 3rem;
      }
    }
  }

  &-b-50px {
    margin-bottom: 5rem;
  }
  &-b-40px {
    margin-bottom: 4rem;
  }

  &-b-35px {
    margin-bottom: 3.5rem;
  }

  &-b-30px {
    margin-bottom: 3rem;
  }

  &-b-25px {
    margin-bottom: 2.5rem;
  }

  &-b-20px {
    margin-bottom: 2rem;
  }

  &-b-18px {
    margin-bottom: 1.8rem;
  }
  &-b-15px {
    margin-bottom: 1.5rem;
  }

  &-b-10px {
    margin-bottom: 1rem;
  }

  &-b-6px {
    margin-bottom: 0.6rem;
  }
  &-b-5px {
    margin-bottom: 0.5rem;
  }

  &-b-4px {
    margin-bottom: 0.4rem;
  }
  &-b-3px {
    margin-bottom: 0.3rem;
  }
  &-b-2px {
    margin-bottom: 0.2rem;
  }
}

// Padding *************
.p {
  &-y-100px {
    padding: {
      top: 10rem;
      bottom: 10rem;
    }
  }
  &-y-80px {
    padding: {
      top: 8rem;
      bottom: 8rem;
    }
  }
  &-y-50px {
    padding: {
      top: 5rem;
      bottom: 5rem;
    }
  }
  &-r-20px {
    padding-right: 2rem;
  }
  &-l-20px {
    padding-left: 2rem !important;
  }
  &-b-40px {
    padding-bottom: 4rem;
  }
}

// Color ********
.color {
}

// Media Queries
.mq-phone {
  @include responsive(phone) {
    display: none;
  }
}

// Flex layouts********
.flex-rw-jcb-aic {
  @include flex-rowwrap-jcbetween-aicenter;
}
.flex-r-jccenter {
  @include flex-row-jccenter;
}
.flex-r-jcbetween {
  @include flex-row-jcbetween;
}
.flex-r-jcend {
  @include flex-row-jcend;
}
.flex-r-aicenter {
  @include flex-row-aicenter;
}

.flex-r-jcbetween-aicenter {
  @include flex-row-jcbetween-aicenter;
}
.flex-r-jccenter-aicenter {
  @include flex-row-jccenter-aicenter;
}

.flex-r {
  @include flex-row;
}
.flex-c {
  @include flex-column;
}
.flex-c-jccenter-aicenter {
  @include flex-column-jccenter-aicenter;
}
.flex-c-jcbetween {
  @include flex-column-jcbetween;
}

// Flex utility classes
.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-gap-5px {
  gap: 0.5rem;
}

.align-self-center {
  align-self: center;
}

// Random utility classes
.pointer {
  cursor: pointer;
}
.text-deco-none {
  text-decoration: none;
}
.display-block {
  display: block;
}

.line-height-0 {
  line-height: 0;
}

.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-radius {
  border-radius: 50%;
}

.bg-red {
  background-color: $color-50;
}
.bg-deep-blue {
  background-color: $color-52;
}

.center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
  padding: 0 !important;
}
// CONTENT ORGANIZATION
.main-content {
  padding: 0 2rem;
}
// MEDIA QUERIES
@media only screen and (min-width: 1201px) {
}

// LAPTOP
@media (min-width: 993px) {
  .hidden-xl {
    display: none;
  }

  .hidden-md {
    display: none;
    /* visibility: hidden; */
  }
  .hidden-xs {
    display: none !important;
  }
  .visible-xl {
    display: block !important;
  }
}

// TABLET
@media (max-width: 992px) {
  .btn-full-width {
    width: 100%;
  }
  .hidden-md {
    display: none;
  }
  .visible-md {
    display: block !important;
  }
}

// @media screen and (min-width: 768px) {
//   .btn-full-width {
//     width: 100%;
//   }
//   .hidden-md {
//     display: none;
//   }
//   .visible-md {
//     display: block !important;
//   }
// }

// PHONE
@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .hidden-md {
    display: none;
  }
  .btn-full-width {
    width: 100%;
  }
}
