.call-conference-video {
  @include flex-row;
  width: 100%;

  & > * {
    height: 100vh;
    overflow-y: auto;
    transition: 1s;

    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  &__left {
    flex-basis: 40.1rem;
    flex-shrink: 0;
    background-color: $color-white;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &-top {
      padding: 2.15rem $dashboard-side-padding;
      border-bottom: 1px solid $color-2;
    }
    &-body {
      padding: 2.15rem $dashboard-side-padding 6rem;
    }
  }
  &__center {
    flex-grow: 1;
    position: relative;
    transition: 1s;
  }
  &__right {
    flex-basis: 41.3rem;
    flex-shrink: 0;

    @include flex-column-jcbetween;
    animation: fadeIn 0.4s ease;

    &-top {
      @include flex-row-aicenter;
      padding: 2.15rem $dashboard-side-padding;
      position: sticky;
      top: 0;
      background-color: $color-white;
    }

    &-body {
      flex-grow: 1;
      // background-color: red;
      padding: 2rem $dashboard-side-padding 0;
      overflow-y: auto;
    }

    &-footer {
      padding: 1.15rem $dashboard-side-padding 2.15rem;
      position: sticky;
      bottom: 0;
      background-color: $color-white;
    }
  }
  &__all-participants {
    flex-basis: 40.1rem;
    flex-shrink: 0;
    background-color: $color-white;
    overflow: auto;

    &-body {
      padding: 1rem $dashboard-side-padding 6rem;
    }
  }

  &__participants {
    @include flex-column-jcbetween;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    // position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // width: 100%;
    background-color: $color-54;
    // display: none;
  }

  &__participant-active {
    display: grid;
    place-items: center;
    height: 60%;
    width: 100%;
    background-color: $color-54;
    flex-grow: 1;
  }

  &__participant-active-component {
    // width: 43.6rem;
    // height: 36.3rem;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__participant {
    width: 23.6rem;
    height: 16.3rem;
    // border: 5px solid red;
    border-radius: 0.4rem;
    flex-shrink: 0;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 0.7rem;
    }
  }

  &__participant-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__other-participants {
    @include flex-row;
    gap: 0.7rem;
    // overflow-x: auto;
    height: 16.3rem;

    padding: 0.7rem;

    &-wrapper {
      // display: none;
      background-color: $color-white;
      overflow-x: scroll;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    & > * {
      width: 23.6rem !important;
      height: 16.3rem;
      // border: 5px solid red;
      border-radius: 0.4rem;
      flex-shrink: 0;
      overflow: hidden;
    }
  }

  .overlayy {
    height: 100%;
    width: 100%;
    position: absolute;
    @include flex-column-jcbetween;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;

    &__top,
    &__bottom {
      width: 100%;
      height: 14.2rem;
    }
    &__top {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
    &__bottom {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }

  &__top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.15rem $dashboard-side-padding;
    z-index: 20;

    @include flex-row-jcbetween-aicenter;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.15rem $dashboard-side-padding;
    z-index: 20;

    @include flex-row-jcbetween-aicenter;
  }

  &__cta {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__leave-meeting__container {
    position: absolute;
    width: calc(100% - 3rem);
    transform: translateY(-102%);
  }

  &__leave-meeting {
    width: 30rem;
    background-color: $color-white;
    border-radius: 0.6rem;
    padding: 2rem 1.5rem 2.5rem;
    margin-left: -3rem;
  }
}

.btn-recording-wrapper {
  position: relative;
}

.recording-dropdown {
  position: absolute;
  left: 0;
  top: 120%;
  width: 24.7rem;
  padding: 1.5rem 0;

  background-color: $color-white;
  border-radius: 1rem;

  &__btn {
    @include flex-row-aicenter;
    width: 100%;
    padding: 1rem 1rem 1rem 2rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #505565;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      background-color: rgba(238, 238, 238, 0.802);
    }
    &:active {
      background-color: rgba(202, 202, 202, 0.802);
    }

    &-text {
      margin-left: 1rem;
    }
  }
}
