.footer_static-pages {
  background-color: $color-60;
  padding: 8rem 0;

  &__container {
    @include flex-row-aicenter;
  }
}

.footer-content {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  text-align: center;
}
.footer-social-div {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  text-align: center !important;
  justify-content: center;
}
.footer-social {
  margin: 0 1rem 0 0;
}
.footer-social img {
  width: 80%;
}
.footer-item p {
  text-transform: capitalize;
  font-weight: bolder;
  margin: 0 0 2rem 0;
  color: $color-32;
  // text-decoration: none;
  text-decoration: underline;
  text-align: center !important;
}
.footer-text {
  display: flex;
  font-size: 15px;
  color: white;
  text-align: center !important;
  justify-content: center;
}
.footer-text p {
  text-decoration: none !important;
}
.footer-item-p-color {
  color: $color-primary !important;
}
.footer-text span {
  margin-left: 2rem;
}
.footer-item li {
  padding: 0.6rem 0;
  list-style: none;
}
.footer-form {
  // width: 270px;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.footer-input {
  width: 100%;
  border: none;
  outline: none;
}
.footer-send-btn {
  border: none;
  border-radius: 50%;
  background-color: #0081fe;
  // padding: 1rem;
  width: 30px;
  height: 27px;
  position: relative;
}
.footer-send-icon {
  width: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
}
.footer-one-one {
  margin: 0 0 4rem 0;
}
/***** TABLET *****/

@media screen and (min-width: 768px) {
  .footer-form {
    // width: 270px;
    width: 80%;
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    // align-items: center;
    // justify-content: center;
    margin: 0 auto;
  }
  .footer-input {
    width: 100%;
    border: none;
    outline: none;
  }

  .footer-text {
    display: flex;
    font-size: 14px;
    color: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer.footer-text p {
    text-decoration: none !important;
  }
  .footer-text span {
    margin-left: 0rem;
  }

  .footer-item p {
    text-transform: capitalize;
    font-weight: bolder;
    margin: 0 0 1rem 0;
    color: $color-32;
    text-decoration: underline;
    // text-decoration: none;
    text-align: center !important;
  }

  .footer-content {
    // width: 60%;
    // margin: 0 auto;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
    text-align: center;
  }

  .footer-social-div {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    text-align: center !important;
    justify-content: center;
  }
}
// @media screen and (min-width: 768px) {
//   .footer_static-pages {
//     background-color: $color-60;
//     padding: 8rem 0;

//     &__container {
//       @include flex-row-aicenter;
//     }
//   }
//   .footer-main-content {
//     // display: grid;
//     // grid-template-columns: 30% 68.5%;
//     // grid-row-gap: 2rem;
//     // grid-column-gap: 1.5rem;
//   }
//   .footer-content {
//     display: grid;
//     // grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr, 1fr));
//     grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
//     grid-gap: 20px;
//     justify-content: space-between;
//     justify-content: left;
//     text-align: left;
//   }
//   .footer-social-div {
//     display: flex;
//     align-items: center;
//     margin: 3rem 0;
//     justify-content: left;
//     text-align: left;
//   }
//   .footer-social {
//     margin: 0 1rem 0 0;
//   }
//   .footer-social img {
//     width: 80%;
//   }
//   .footer-item p {
//     text-transform: capitalize;
//     font-weight: bolder;
//     margin: 0 0 2rem 0;
//     color: $color-32;
//     text-decoration: underline;
//     // justify-content: left;
//     text-align: left !important;
//   }
//   .footer-item-p-color {
//     color: $color-primary !important;
//   }
//   .footer-text {
//     display: flex;
//     font-size: 14px;
//     color: white;
//     justify-content: left;
//     text-align: left;
//   }
//   .footer.footer-text p {
//     text-decoration: none !important;
//   }
//   .footer-text span {
//     margin-left: 2rem;
//   }
//   .footer-item li {
//     padding: 0.6rem 0;
//     list-style: none;
//   }
//   .footer-form {
//     // width: 220px;
//     width: 40%;
//     display: flex;
//     padding: 1rem;
//     background-color: white;
//     border-radius: 0.5rem;
//   }
//   .footer-input {
//     width: 100%;
//     border: none;
//     outline: none;
//   }
//   .footer-send-btn {
//     border: none;
//     border-radius: 50%;
//     background-color: #0081fe;
//     // padding: 1rem;
//     width: 30px;
//     height: 27px;
//     position: relative;
//   }
//   .footer-send-icon {
//     width: 12px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-60%, -60%);
//   }
//   .footer-one-one {
//     margin: 0 0 4rem 0;
//   }
// }
/***** LAPTOP *****/
@media (min-width: 993px) {
  .footer_static-pages {
    background-color: $color-60;
    padding: 8rem 0;

    &__container {
      @include flex-row-aicenter;
    }
  }
  // .footer-main-content {
  //   display: grid;
  //   grid-template-columns: 68.5% 30%;
  //   grid-row-gap: 2rem;
  //   grid-column-gap: 1.5rem;
  // }
  .footer-content {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
    text-align: left;
  }
  .footer-social-div {
    display: flex;
    align-items: left !important;
    margin: 3rem 0;
  }
  .footer-social {
    margin: 0 1rem 0 0;
  }
  .footer-social img {
    width: 80%;
  }
  // .footer-item p {
  //   text-transform: capitalize;
  //   font-weight: bolder;
  //   margin: 0 0 2rem 0;
  //   color: $color-32;
  //   text-decoration: none;
  //   text-align: left !important;
  // }
  // .footer-item-p-color {
  //   color: $color-primary !important;
  // }
  // .footer-text {
  //   display: flex;
  //   font-size: 15px;
  //   color: white;
  //   text-align: left !important;
  // }
  // .footer-text span {
  //   margin-left: 1rem;
  // }
  // .footer.footer-text p {
  //   text-decoration: none !important;
  // }
  .footer-item li {
    padding: 0.6rem 0;
    list-style: none;
  }
  .footer-form {
    width: 100%;
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    // margin: 0 0 0 0 !important;
    // justify-content: left;
  }
  .footer-input {
    width: 100%;
    border: none;
    outline: none;
  }

  // .footer-form {
  //   // width: 270px;
  //   width: 80%;
  //   display: flex;
  //   padding: 1rem;
  //   background-color: white;
  //   border-radius: 0.5rem;
  //   // align-items: center;
  //   // justify-content: center;
  //   margin: 0 auto;
  // }
  // .footer-input {
  //   width: 100%;
  //   border: none;
  //   outline: none;
  // }

  .footer-send-btn {
    border: none;
    border-radius: 50%;
    background-color: #0081fe;
    // padding: 1rem;
    width: 30px;
    height: 27px;
    position: relative;
  }
  .footer-send-icon {
    width: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
  }

  .footer-one-one {
    margin: 0 0 0rem 0;
  }

  .footer-item p {
    text-transform: capitalize;
    font-weight: bolder;
    margin: 0 0 2rem 0;
    color: $color-32;
    text-decoration: none;
    // justify-content: left;
    text-align: left !important;
  }
  .footer-item-p-color {
    color: $color-primary !important;
  }
  .footer-text {
    display: flex;
    font-size: 14px;
    color: white;
    justify-content: left;
    text-align: left;
    flex-direction: row;
  }
  .footer.footer-text p {
    text-decoration: none !important;
  }
  .footer-text span {
    margin-left: 2rem;
  }

  .footer-social-div {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    justify-content: left;
    text-align: left;
  }
}
