.progress-bar {
  background-color: $color-2;
  border-radius: 0.3rem;
  position: relative;
  height: 0.6rem;
  width: 6rem;
  margin-top: 1rem;

  &__status {
    border-radius: 0.3rem;
    width: 50%;
    background-color: $color-13;
    position: absolute;
    right: 0;
    height: 0.6rem;

    &.ok {
      background-color: $color-13;
    }
    &.warn {
      background-color: $color-14;
    }
    &.danger {
      background-color: $color-30;
    }
  }
}
