.row {
  @include clearfix;
  width: 100%;
}

.center {
  @include clearfix;
  max-width: $row-width;
  margin: 0 auto;
  @include responsive(tab-land) {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}

.onboarding__nav-center {
  @include clearfix;
  max-width: $onboarding-row-width;
  margin: 0 auto;
  @include responsive(tab-land) {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}

.onboarding__content-center {
  @include clearfix;
  max-width: 43rem;
  margin: 0 auto;
  @include responsive(tab-land) {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}
