.header {
  &__index-page {
    background: linear-gradient(
        to bottom right,
        rgba(70, 128, 255, 0.1),
        rgba(246, 147, 62, 0.1)
      ),
      url(./../../images/hero-dark-bg.svg);
    // background-image: url(./../../images/landingPageHeaderBg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    // height: 100vh;
    // padding: 0 0 50px 0 !important;
  }
}

.header-image {
  // margin: 100px auto 0 auto !important;
  width: 100%;
}
.index-page__main-heading {
  font-family: lato-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 4.6rem;
  line-height: 5rem;
  color: $color-white;
  // margin: 0 0 2rem 0;
}
.index-page__sub-heading {
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.9rem;
  color: $color-white;
}

/***** TABLET *****/
@media screen and (min-width: 768px) {
  .header {
    &__index-page {
      background: linear-gradient(
          to bottom right,
          rgba(70, 128, 255, 0.1),
          rgba(246, 147, 62, 0.1)
        ),
        url(./../../images/hero-dark-bg.svg);
      // background-image: url(./../../images/landingPageHeaderBg.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      // height: 100vh;
      // padding: 0 0 100px 0 !important;
    }
  }

  .index-page__main-heading {
    font-family: lato-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 6.2rem;
    line-height: 6.6rem;
    color: $color-white;
  }
  .index-page__sub-heading {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.8rem;
    color: $color-white;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .header {
    &__index-page {
      background: linear-gradient(
          to bottom right,
          rgba(70, 128, 255, 0.1),
          rgba(246, 147, 62, 0.1)
        ),
        url(./../../images/hero-dark-bg.svg);
      // background-image: url(./../../images/landingPageHeaderBg.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      // height: 100vh;
    }
  }

  .header-image {
    // margin: 220px auto 0 auto !important;
    width: 100%;
  }
  .index-page__main-heading {
    font-family: lato-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 7.6rem;
    color: $color-white;
  }
  .index-page__sub-heading {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.8rem;
    color: $color-white;
  }
}
/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  .header {
    &__index-page {
      background: linear-gradient(
          to bottom right,
          rgba(70, 128, 255, 0.1),
          rgba(246, 147, 62, 0.1)
        ),
        url(./../../images/hero-dark-bg.svg);
      // background-image: url(./../../images/landingPageHeaderBg.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      // height: 100vh;
      // padding: 0 0 50px 0;
    }
  }
 
  .header-image {
    // margin: 120px auto 0 auto !important;
    width: 60%;
  }
  .index-page__main-heading {
    font-family: lato-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 6.2rem;
    line-height: 6.6rem;
    color: $color-white;
  }
  .index-page__sub-heading {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.8rem;
    color: $color-white;
  }
}
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* insert styles here */
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header {
    &__index-page {
      background: linear-gradient(
          to bottom right,
          rgba(70, 128, 255, 0.1),
          rgba(246, 147, 62, 0.1)
        ),
        url(./../../images/hero-dark-bg.svg);
      // background-image: url(./../../images/landingPageHeaderBg.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      // height: 50vh;
      // padding: 0 0 50px 0 !important;
    }
  }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}
